@import "tailwindcss";

:root {
	--background: #fff; /* Soft Gray */
	--foreground: #000; /* Jet Black */
	--input: #ffffff; /* Pure White */
	--button: #1a1a1a; /* Charcoal Black */
	--icon-accent: #5f6368; /* Slate Gray */
	--highlight: #d9c4a5; /* Warm Sand */
	--success: #4caf50; /* Light Green */
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-input: var(--input);
	--color-button: var(--button);
	--color-accent: var(--icon-accent);
	--color-highlight: var(--highlight);
	--color-success: var(--success);

	--font-heading: var(--font-heading);
	--font-text: var(--font-text);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
		--input: #1a1a1a;
		--button: #ffffff;
		--icon-accent: #999999;
		--highlight: #bda57c;
		--success: #6dd67c;
	}
}

body {
	background: var(--color-background);
	color: var(--foreground);
	font-family: var(--font-text);
}

.hero {
	background-image: url("/hero.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}
